.timesheet {
  display: flex;
  justify-content: center;
  align-items: center;
}
.timesheet-container {
  height: 80%;
  width: 80rem;
  margin-top: 2%;
  padding-top: 2%;
}
.header {
  margin-left: 0.3rem;
}
.timesheet-header {
  font-size: 1.875rem;
  font-weight: 500;
}
.py-3 {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}
.navigate-actions-timesheet {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}
.title-timesheet {
  font-size: 1.25rem;
  color: #718096;
  font-weight: 500;
}
.navigations {
  z-index: -30;
  display: flex;
  gap: 1rem;
  font-size: 1.125rem;
  justify-content: flex-end;
  cursor: not-allowed;
  opacity: 0.5;
}
.timesheet-content {
  height: 100%;
  padding: 1.25rem;
}
.timesheet-flex-container {
  display: flex;
  width: 100%;
  // justify-content: center;
  gap: 1rem;
}
.project-title {
  background-color: #fafafa;
  padding: 0.75rem;
  border-radius: 0.375rem;
  width: 20rem;
  display: block;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
  color: #718096;
}
.timesheet-projectname {
  width: 21.5rem;
  border-radius: 0.375rem;
  padding: 0.60rem;
  border: 1px solid #cbd5e0;
  outline: none;
}
.responsible-title {
  background-color: #fafafa;
  padding: 0.75rem;
  border-radius: 0.375rem;
  width: 13rem;
  display: block;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
  color: #718096;
}
.timesheet-dates {
  padding: 0.75rem;
  border-radius: 0.375rem;
  width: 5.5rem;
  display: block;
  font-size: 0.9rem;
  color: #718096;
}
.task-name {
  width: 13rem;
  border-radius: 0.375rem;
  padding: 0.75rem;
  border: 1px solid #cbd5e0;
  outline: none;
}

.timesheet-days {
  background-color: #fafafa;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.375rem;
  gap: 1rem;
}

.timesheet-inputs-types {
  width: 5.5rem;
  border-radius: 0.375rem;
  padding: 0.75rem;
  border: 1px solid #cbd5e0;
  outline: none;
}

.timesheet-inputs {
  margin-top: 0.75rem;
}

.width-64 {
  width: 4rem;
}

.project-row {
  margin-bottom: 0.8rem;
}

.btn-timesheet {
  padding: 0.8rem;
  font-size: 1rem;
  color: #fff;
  font-weight: 700;
  border-radius: 0.375rem;
  background-color: #2c8ace;
  border: none;
}
.width-80 {
  width: 5rem;
}

.width-32 {
  width: 2rem;
}
.label-names {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: #718096;
}
.empty-div {
  background-color: #000;
  margin-left: 1.25rem;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5rem;
  margin-top: -2.6rem;
}
.total-label {
  width: 36.6rem;
  border-radius: 10px;
  background-color: #fff;
  padding: 0.65em;
  font-size: large;
  font-weight: 700;
  text-align: end;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.1);
}
.timesheet-total {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.totalcount-days {
  display: flex;
  gap: 1rem;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
.error-message-display{
  display: flex;
  flex-direction: column;
}
