header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 4em;
	.logo {
		width: 3.7em;
		height: 3.7em;
	}
	.logo-name {
		color: rgb(44 138 206);
		display: flex;
		align-items: center;
		span {
			font-size: 1.3em;
			font-weight: 500;
		}
	}
}
