$primary-color: #2c8ace;
$text-color: #191919;

.SideMenu {
	width: 5rem;
	background-color: $primary-color;
	position: fixed;
	height: 100vh;
	top: 4rem;
	left: 0;
	border-right: 1px solid #ccc;
	overflow-y: auto;
	border-top-right-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;

	ul {
		color: $text-color;
		margin-top: 1rem;
		padding-left: 0;
		text-align: center;
	}

	li {
		padding: 1rem 0rem;
		list-style: none;

		.link {
			img {
				width: 2.5rem;
				height: auto;
				&:hover {
					transform: scale(1.5);
					transition: all 0.1s;
					cursor: pointer;
				}
			}
		}
	}
}
